<!doctype html>
<html ng-app="app">
  <head>
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="main.css" rel="stylesheet" />

    <script type="text/javascript"
            src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src = "app.js"></script>
    <script src = "controller.js"></script>
    <script src = "directive.js"></script>



  </head>

  <body  ng-app="app" ng-controller="MainController">
    
  
    <div class="header">
      <div class="container">
        <h1>P r e k s h a ~~ K o i r a l a</h1>

        <h2>{{todo}}</h2>
        <h3>{{help}}</h3>
        <div ng-repeat="item in mylist track by $index">
          <p class = "text" >{{item}}</p>
          </div>
           <p></p>

        <input type="text" class="inputtext" placeholder = "Enter here" ng-enter="show()" ng-model="todo"/>


      </div>
    </div>

    <div class="main" ng-controller="MainController">
      <div class="container">


      </div>

      <div class = "next" ng-controller = "nextController">
         {{PK}}
         </div>

    </div>
    <div class="full" ng-view ></div>
     
    </body>
    </html>


