
.container{
	color: floralwhite;
	width: 666px%;
	margin-top: 180px;

}
.inputtext{
	background-color: black;
	color: floralwhite;
	font-family: fantasy;
	letter-spacing: 2px;
}

 

body {
	/*background-color: black;*/
	background-image: url("http://orig02.deviantart.net/ad5e/f/2008/041/f/0/black_background_by_sjunod.jpg");
}

.next{
	color: white;
	margin-top: 100px;
	margin-left: 600px;
}
.text, .todo{
	font-size: 17px;
	font-family: fantasy;
	letter-spacing: 2px;
}
.ok{
	color:white;
	margin-left: 500px;
	margin-top: 50px;
	font-family:fantasy;
	
	
}







