
.container{
	color: floralwhite;
	
	background-image: url("");
	width: 666px%;
	font-family: Courier;
	margin-top: 180px;

}
.inputtext{
	background-color: black;
	color: floralwhite;
}

 

body {
	/*background-color: black;*/
	background-image: url("http://orig02.deviantart.net/ad5e/f/2008/041/f/0/black_background_by_sjunod.jpg");
}

.next{
	color: white;
	margin-top: 100px;
	margin-left: 600px;
}
.text{
	font-size: 17px;
}
.ok{
	color:white;
	margin-left: 350px;
	margin-top: 50px;
	font-family: Courier;
}
