
.container{
	color: floralwhite;
	
	background-image: url("http://gdurl.com/xE1z");
	width: 666px%;
	font-family: Courier;
	margin-top: 180px;

}
.inputtext{
	background-color: black;
	color: floralwhite;
}

 

body {
	background-color: black;
}

.next{
	color: white;
	margin-top: 100px;
	margin-left: 600px;
}
.text{
	font-size: 17px;
}
.ok{
	color:white;
	margin-left: 350px;
	margin-top: 50px;
	font-family: Courier;
}
